header.header {
    background: var(--white);
    border-left: solid 1px #ddd;
    box-shadow: var(--shadow);
}

@media(max-width: 720px) {

    button#register-project {
        display: none;
    }

}

