aside.nav-menu {
    background: var(--dark);
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.nav a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    background: var(--dark);
    font-weight: 300;
}

.nav a:hover {
    background: var(--gradient-primary);
}

.nav a:active {
    background: var(--gradient-primary);
}

.utils a {
    background: var(--light-gray);
    color: #333;
}

#active {
    background: var(--gradient-primary);
}
@media(max-width: 720px) {
    aside.nav-menu {
        flex-flow: row;
    }

    .nav a {
        font-size: 0.8em;
    }
    
}