:root {
    --dark: #313638;
    --red-orange: #f06543;
    --light-gray: #e0dfd5;
    --white: #e8e9eb;
    --light-orange: #f09d51;

    --gradient-primary: linear-gradient(to right, 
        rgb(252, 74, 26),
        rgb(247, 183, 51)) repeat scroll 0% 0%;

    --gradient-secondary: linear-gradient(to right, 
        #f06543, 
        #f09d51) repeat scroll 0% 0%;

    --header-height: 40px;
    --footer-height: 40px;
    --nav-width: 70px;

    --shadow: 
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.ttf")
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
    grid-area: content;
}

header#header {
    grid-area: header;
}

#App {
    background: #888;
    height: 100vh;
}

#page-wrap {
    height: 100%;
    display: grid;
    background: var(--light-gray);
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "content";
    box-shadow: var(--shadow);
}

#page-wrap main {
    padding: 0;
}

@media(max-width: 720px) {

    #App {
        grid-template-rows: 1fr;

        grid-template-columns: 1fr;

        grid-template-areas: 
            "logo"
            "header"
            "nav"
            "content"
            "footer";

    }

}