#projects-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

div.project {
    display: flex;
    flex-flow: column;
    padding: 32px;
    height: 580px;
    width: 100%;
    justify-content: space-between;
    border: #ccc 1px solid;
    display: flex;
    margin: 30px 0;
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);  
}

div.project-body {
    padding: 32px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    border: #ccc 1px solid;
    display: flex;
    margin: 16px 0;
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

div.project-body .project-information {
    flex-basis: 0;
    flex-grow: 5;
}

div.project-header h5 {
    font-size: 30px;
    font-weight: 800;
    padding: 15px;
}

div.project-header {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

div p.ratings {
    font-size: 1.8em;
}

div.project-header div.project-informations {
    padding: 8px;
    font-size: 14px;
    width: 40%;
    border: #ccc 1px solid;
    margin: 15px;
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

div.project-body .project-information div.project-description {
    padding: 8px;
    width: 80%;
    height: 80%;
    border: #ccc 1px solid;
    text-align: justify;
    padding: 15px;
    text-indent: 30px;
    overflow: auto;
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}



div.project-body .project-image {
    flex-basis: 0;
    flex-grow: 4;
}

div.project-body .project-image img{
    width: 100%;
    height: 100%;
}

div#projects-filter {
    margin: 0 auto;
    height: 2%;
    margin-bottom: 5px;
    padding: 16px;
    background: #eee;
    border-radius: 4px;
    border: solid 1px #ccc;
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

div#projects-filter ul li{
    display: inline;
    margin: auto 10px;
    cursor: pointer;
}

div#projects-filter ul li:hover{
    color: #555;
}

#projects {
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}
